p.head{
color:rgb(165,42,42);
font-size:30px;
}
b{
color:rgb(255,0,0);
}
p.advice{
font-size:20px;
}
p.controversy{
color:rgb(255,255,255);
background-color:rgb(0,0,0);
font-size:30px;
}
i.ipromise{
color:rgb(255,255,0);
text-decoration:underline;
font-size:17px;
}
