p.head{
color:rgb(165,42,42);
font-size:50px
}
b,i{
text-decoration:underline;
}
p.shaving{
color:rgb(255,192,203);
font-size:50px;
}
b.red{
color:rgb(255,0,0);
font-weight:normal;
text-decoration:none;
}
b.orange{
color:rgb(255,165,0);
font-weight:normal;
text-decoration:none;
}
b.yellow{
color:rgb(255,255,0);
font-weight:normal;
text-decoration:none;
}
b.green{
color:rgb(0,255,0);
font-weight:normal;
text-decoration:none;
}
b.darkgreen{
color:rgb(0,128,0);
font-weight:normal;
text-decoration:none;
}
b.blue{
color:rgb(0,0,255);
font-weight:normal;
text-decoration:none;
}
